@import "../utils/colors";

.footer {
  padding: 2rem 0;
  background-color: #091c44;
  display: flex;
  justify-content: center;
}

.footer .footer-icons {
  margin: 0 1rem;
}

.footer i {
  font-size: 1.5rem;
  color: white;
}
