@import '../utils/colors';

.intro {
  height: 100vh;
  background-color: $main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-static span {
  letter-spacing: 8px;
}