@import "../utils/colors";

.work {
  padding: 1rem 0;
  padding-top: 4rem;
  min-height: 100vh;
  background-color: #0c2449;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work .card {
  margin-top: 2rem;
  padding: 2rem 0;
  width: 90%;
  border-radius: 6px;
  background-color: $main;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work .title {
  font-size: 1.75rem;
  font-weight: 400;
  color: white;
}

.work .img {
  margin-top: 1rem;
  width: 80%;
}

.work .img img {
  width: 100%;
  height: auto;
}

.work .tech {
  margin-top: 1rem;
  display: flex;
}

.work .tech p {
  margin: 0 6px;
  padding: 2px 12px;
  border: solid thin $secondary;
  border-radius: 6px;
  color: $secondary;
}

.work .button-container {
  margin-top: 1rem;
}

.work .button-container button {
  margin: 0 6px;
  font-size: 1.75rem;
  color: white;
  background-color: transparent;
  border: none;
}

@media (min-width: 768px) {
  .work {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .work .card {
    width: 45%;
    max-height: 550px;
  }

  .work .img {
    min-height: 400px;
    max-width: 250px;
    display: flex;
    align-items: center;
  }
}
